@model CarBrokers.Models.CarRequest

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CarRequest</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ChooseCar.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ChooseCar.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CustomerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CustomerID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BrokerID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BrokerID)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
